
<html>
  <head>
    <title>12 MetaMask Connection Page</title>

  </head>
  <body>
    
    <center>
    
    <button id='connectWallet' onclick="">Connect Wallet</button>

    <!--<button id='getBalance' onclick="checkBalance()">Get Balance of Wallet</button>-->

    <p id="walletAddress"></p>
    <p id="walletBalance"></p>

 
    

    </center>

   <form action = "/mint_nft" enctype="multipart/form-data" method="POST">
      Student name:<input type="text" name="student_name" value="student_name"/>
      <br>
      Grade:<input type="text" name="grade" value="A+"/>
      <br>
      Description <input type="text" name="description" value="Fintech course at University of Toronto"/>
      <br>
      Encryption Key: <input type="text" name="encryption_key" value="ABC123"/>
      <br>
      Certificate Image:<input type="file" name="pic"/>
      <br>
      Wallet address:<input type="text" id="wallet_address" name="wallet_address" value=""/>
      <br>
      <input type="submit" value="Mint NFT"  id="mintNFT" onclick=""/>
    </form>


<script type="text/javascript">
      window.userWalletAddress = null
      const connectWallet = document.getElementById('connectWallet')
      const walletAddress = document.getElementById('walletAddress')
      const wallet_address = document.getElementById('wallet_address')
      const walletBalance = document.getElementById('walletBalance')
    


      function checkInstalled() {
        if (typeof window.ethereum == 'undefined') {
          connectWallet.innerText = 'MetaMask isnt installed, please install it'
          connectWallet.classList.remove()
          connectWallet.classList.add()
          return false
        }
        connectWallet.addEventListener('click', connectWalletwithMetaMask)
      }

      async function connectWalletwithMetaMask() {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
        .catch((e) => {
        console.error(e.message)
        return
        })

        if (!accounts) { return }

        window.userWalletAddress = accounts[0]
        walletAddress.innerText = window.userWalletAddress
        wallet_address.value = window.userWalletAddress

        connectWallet.innerText = 'Sign Out'
        connectWallet.removeEventListener('click', connectWalletwithMetaMask)
        setTimeout(() => {
          connectWallet.addEventListener('click', signOutOfMetaMask)
        }, 200)

      }


      function signOutOfMetaMask() {
        window.userwalletAddress = null
        walletAddress.innerText = ''
        connectWallet.innerText = 'Connect Wallet'

        connectWallet.removeEventListener('click', signOutOfMetaMask)
        setTimeout(() => {
          connectWallet.addEventListener('click', connectWalletwithMetaMask)
        }, 200  )
      }

      async function checkBalance() {
        let balance = await window.ethereum.request({ method: "eth_getBalance",
        params: [
          window.userWalletAddress,
          'latest'
        ]
      }).catch((err)=> {
          console.log(err)
      })

      console.log(parseFloat((balance) / Math.pow(10,18)))

      walletBalance.innerText = parseFloat((balance) / Math.pow(10,18))
    }

      window.addEventListener('DOMContentLoaded', () => {
        checkInstalled()
      })


    </script>

  </body>
</html>
